@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
body{
  background-color: black;
  color:white;
  margin: 0;
  padding: 0;
  width: 100%;
}
a{
  color:white;
  text-decoration:none;
}
a:hover {
    color: #f00;
}
#header{
  position:fixed;
  display: flex;
  height: 3rem;  
  margin:0;
  padding:0;
  align-items: center;
  gap:60vw;
  
}

.hero-img{
  background-image: url(Asset/image/hr2.jpg);
  max-width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#logo{
  display:flex;
  float:left;
  margin:0;
  padding-left: 1rem;
  align-items: center;
  
}
#header-img{
  aspect-ratio: 1;
  width: 42px; 
  margin: 0;
  padding: 6px 0 0 0;
}
#title{
  margin:0;
  padding:0;
  font-size: 2rem;
}
.side-navbar{
  float: right;
  display: flex;
  gap:1rem;
  margin: 0;
  padding:0;
}
/* .side-navbar  li{
  margin-right: 20px;
} */
.side-navbar li a:hover{
  color: #dc143c;
  background-color: black;
  border: 8px black solid;
  border-radius: 25px;
}
.nav-link {
  border: 0.5rem transparent solid;
}
.link{
   justify-content: flex-end;
   height: 8px;
}
ul{
  list-style-type:none;
}
.log{
  display: none;
}
#form{
  visibility: hidden;
}
/* #email
{
  
} */
.wel-colr{
  color:#dc143c;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.wel-cardbor{
  color: #aeaeae;
  position: absolute;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  /* border: #361536 solid; */
  margin: 80px 20px;
  padding:5px  15px; 
  font-size: large;
  width: 550px;
  height: 320px;
}
/* description */
.feature {
  margin: 5px 22px;
  border: white solid 1px;
  padding: 15px;
  width: 700px;
}
.qut{
   color:#dc143c;
  font-family: 'Arvo', serif;
  font-size:25px;
}
#description 
{
  font-family: 'Merriweather', serif;
}
#buy{
  font-family: 'Arvo', serif;
  font-size:25px;
  text-align:center;
  color:#dc143c;
  text-decoration:underline;
  text-decoration-color:rgb(54, 21, 54)
}
.plan{
  display:flex;
  flex-direction:column wrap;
  width:500px;
  margin:50px auto;
  justify-content:space-between;
}
#plan-p{

  -webkit-box-shadow: 13px -1px 17px -3px rgba(54, 21, 54);
-moz-box-shadow: 13px -1px 17px -3px rgba(54, 21, 54);
box-shadow: 13px -1px 17px -3px rgba(54, 21, 54);
}
#plan-b{
  -webkit-box-shadow: 13px -1px 17px -3px rgba(54, 21, 54);
-moz-box-shadow: 13px -1px 17px -3px rgba(54, 21, 54);
box-shadow: 13px -1px 17px -3px rgba(54, 21, 54);

}
#last {
  border: solid transparent;
  background-color: transparent;
}
#re {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Lora", serif;
}
#link ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: auto;
  padding: 0;
  margin-top: -10px;
  margin-inline: auto;
}
/* #profile-link {
} */
.icon {
  text-align: center;
  margin: 0.8rem;
}
#end {
  text-align: right;
  font-size: 1.2rem;
}
@media screen and (min-width: 180px)
{
  #plan{
    width:30%;
    font-size:5px;
    flex-flow:row wrap;
  }
}